@import "../_variables";
@import "./variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";


.ova-builder-element{
    background-color: rgba(0, 54, 101, 0.2);
    border: dashed 2px rgba(0, 0, 0, 0.7);
    transform-origin:50% 50%;
    position:absolute;
}

.ova-builder-active-element{

    border: dashed 2px rgba(0, 0, 0, 0.7);
}

.ova-builder-active-element:not(.ova-builder-picking-color){
    background-color: rgba(0, 54, 101, 0.568) !important;
}

.ova-builder-dragging{
    background-color: rgba(0, 54, 101, 0.7) !important;
    border:none;
    animation:none !important;
    transition:none !important;
}

.ova-builder-resizing{
    background-color: rgba(0, 54, 101, 0.7) !important;
    border:none;
    animation:none !important;
    transition:none !important;
}

.ova-builder-rotating{
    cursor:url("../img/rotate_cursor.png"), auto !important;
}

.a-color-picker{
    position:absolute;
    z-index:99999;
}

.ova-builder-themed {
    padding: 0 !important;
    opacity: 1;
    background-color:transparent !important;
    .btn{
        position: absolute;
        right: 0;
        i{
            font-size:2em;
        }
    }
    pre {
        text-align: left;
        font-size: 16px;
        padding: 0;
        margin: 0;
        background-color: #1E1E1E;
        border: none;
        max-height:400px;
        overflow-y:auto;

        & *::selection{
            background-color:purple;
        }

        code{
            background-color:transparent;
        }
    }

    .styles{
        pre{
            background-color:rgb(25, 35, 83);
        }
    }
}

.ova-builder-styles-box{
    position:absolute;
    width:350px;
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
    font-size:0.8em;
    background-color:#333;
    color:#62C8F3;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
    border-color:#a2fca2;
    resize: both;
    font-weight: bold;
}

.ova-builder-content-box{
    position:absolute;
    width:350px;
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
    font-size:0.8em;
    background-color:#333;
    color:#62C8F3;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
    border-color:#a2fca2;
    resize: both;
    font-weight: bold;
}

[data-id-in-slide]{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50% 50%;
    position: absolute;
}
