@import "../_variables";
@import "./variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/animate.css/animate";

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
}

@font-face {
    font-family: 'FFBold';
    src: url('../fonts/FF_DIN_Pro_Bold.otf');
}

@font-face {
    font-family: 'FFBCondBold';
    src: url('../fonts/FF_DIN_Pro_Cond_Bold.otf');
}

@font-face {
    font-family: 'FFCondRegular';
    src: url('../fonts/FF_DIN_Pro_Cond_Regular.otf');
}

@font-face {
    font-family: 'FFCondLight';
    src: url('../fonts/FF_DIN_Pro_Cond_Light.otf');
}

@font-face {
    font-family: 'FFLight';
    src: url('../fonts/FF_DIN_Pro_Light.otf');
}

@font-face {
    font-family: 'FFThin';
    src: url('../fonts/FF_DIN_Pro_Thin.otf');
}

@font-face {
    font-family: 'Wingding';
    src: url('../fonts/wingding.ttf');
}

body{
    background-color:$base;
    // background-image:url('../img/sky.jpg');
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html{
    &:not(.is-mobile){
        body{
            touch-action: auto !important;
            user-select: auto !important;
        }

        .click-me:not(.clicked):not(:hover){
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }

        .hover-me:not(.hovered){
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }


        .navigation-buttons {
            z-index: 10;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            > * {
                padding: 128px 9px;
                position: absolute;
                transition: all .2s ease;
            }

            > .prev {
                left: 0%;
                top: 24%;

                &:hover,
                &.highlight{
                    left: 0;
                    padding: 128px 40px;
                }
            }

            > .next {
                right: 0%;
                top: 24%;

                &:hover,
                &.highlight {
                    right: 0;
                    padding: 128px 40px
                }
            }

            > .home {
                left: 40%;
                bottom: 1%;
                padding: 9px 128px;
    
                &:hover,
                &.highlight {
                    padding: 40px 128px;
                    bottom: 1%
                }
            }
        }
  
    }

    &.is-mobile{
        .click-me{
            -webkit-animation: clickMe 1.5s infinite linear;
            animation: clickMe 1.5s infinite linear;
        }

        .navigation-buttons {
            left: auto;
            right: 0;
            bottom: 5%;
            top: auto;
            font-size: 5em;
            box-shadow: -1px -1px 2px rgba(0,0,0,.4);
            z-index: 100
        }
    }
}

 #wrapper{
    background-color:rgba($base, .85);
    transition:all 0.5s ease;
}

.slide{
    color:white;
}

 .ova-header{
    background-color:#FFFFFF;
    padding:30px 40px 10px 40px;

    h1{
        color:$base;
        /* font-weight:bold; */
        padding:0;
        margin:0;
        font-family:'BebasNeue';
        display:inline-block;
        font-size:4em;
        line-height:1.2em;
    
    }
}


 .ova-unit{
    float:right;

    h2,
    h3,
    h1{
        color:$base;
        margin:0;
        padding:0;
    }

    h2{
        font-family:'FFCondRegular';
        font-size:3.5em;
    }

    h3{
        font-family:'FFCondRegular';
        font-size:2.2em;
        border-bottom:solid 2px $base;
    }

    h1{
        font-size:7em;
        box-sizing:border-box;
        border-bottom:solid 10px $base;
        line-height:1em;
    }
    
}

 .ova-main-instructions{
     padding: 10px;
    /* margin-top: 20px; */
    color: white;

    h1{
        font-family:'FFLight';
        font-size:3em;
        display:inline-block;
        margin-left:10px;
    }

    .icon-container{
        border:dashed 2px lighten($base, 40%);
        display:inline-block;
        border-radius:100%;
        width:120px;
        height:120px;
        vertical-align:top;
    }

    .icon{
        border-radius:100%;
        background-color:lighten($base, 40%);
        width:90%;
        height:90%;
        margin-left:5%;
        margin-top:5%;
    }

    i.fa{
        font-size:4em;
        color:white;
        position:relative;
        left:50%;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
    }

    .top-instructions{
        margin-bottom:20px;
    }

    .inner-instructions{
        width:50%;
        float:left;

        .instruction{
            float:left;
            width:100%;
            margin:10px 0;
        }
        
        b{
            color:lighten($base, 45%);
        }
        
        .icon{
            border-color:white;
            float:left;
            background-color:white;
        }
        
        .icon-container{
            border-color:white;
        }
        
        i.fa{
            color:$base;
        }
        
        h2{
            width:70%;
            display:inline-block;
            margin-left:10px;
            font-size:1.8em;
            font-family:'FFLight';
            line-height:1.3em;
            text-align:justify;
        }
    }  
   
}


 .vertical .ova-main-instructions .inner-instructions{
   width:100%;
} 


 .slide:nth-child(1n+2){
    // height:calc(100% - 90px);
    padding-top:90px;
}

 .ova-content-header{
    position: absolute;
    width: 100%;
    font-family: 'FFCondRegular';
    background-color: $base;
    // padding: 0px 50px;
    color: white;
    height:80px;
    z-index:10;

    h1,
    h2,
    h3,
    span{
        margin:0;
        padding:0;
    }

    .unit-title{
        margin-top:10px;

        h1{
            font-size:2.5em;
        }

        h2{
            font-size:1.6em;
        }
    }

    .unit-abbrev-title h1{
        font-family:'BebasNeue';
        font-size:4.3em;
        border-top:solid 2px white;
        border-bottom:solid 2px white;
    }

    .unit-info{
        > *{
            display:inline-block;
        }

        h2{
            font-family:'FFBold';
            color:darken($base, 15%);
            font-size: 2.2em;
        }

        span{
            font-size:2em;
        }
    } 

    .ova-title h2{
        font-family: 'FFLight';
        font-size: 1.5em;
    }


    .esap-logo{
        width: 80px;
        height: 80px;
        background-image: url(../img/esap_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        /* background-color: purple; */
        display: inline-block;
        float: left;
        background-position: 50% 50%;
        margin:0 25px;
    }
    
    .main-info{
        display: inline-block;
        float: left;
        padding: 11px 0;
    }

    .fullscreen{
        i{
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            font-size: 3.7em;
            margin-top: 19px;
            transition:all 0.35s ease;
            cursor:pointer;

            &:hover{
                font-size:3.8em;
            }
        }
    }
}

.ova-content-footer{
    position: absolute;
    width: 100%;
    font-family: FFCondRegular;
    background-color: $base;
    padding: 1px 50px;
    color: #fff;
    bottom: 0;
    text-align: center;
    z-index: 20;

    h3{
        padding:10px 0;
        margin:0;
        font-family:'FFCondLight';
        font-size:1.6em;
    }

    .team{
        padding: 3px 12px;
        font-size: 2.5em;
        background-color:darken($base, 10%);
        border-left:solid 1px white;
        position:absolute;
        right:0;
        top:0;
    }
}

.progress-bar{
    width:100%;
    float:left;
    height:10px;
    background:lighten($base, 60%);

    .inner-bar{
        float:left;
        height:100%;
        transition:all 0.85s ease;
        //background-color:darken($base, 10%);
        background-color:#e6a02c;
        width:0%;
    }
}


.secondary-info{
    background-color:darken($base, 15%);
    height:100%;
    float:right;
    display:flex;
    align-items: center;
    padding:0 20px;
    // font-size:2em;

    > *{
        display:inline;
        vertical-align: middle;
        height:100%;
    }

    .learned-concepts{
        height:100%;
        margin-right:20px;

        .star{
            background-image:url('../img/concept_star.svg');
            background-size:contain;
            width:48px;
            height:100%;
            background-repeat:no-repeat;
            background-position:50% 50%;
            float:left;
        }

        span{
            font-family: 'FFCondRegular';
            font-size: 4.6em;
            padding: 0 10px;
        }
    }

    .glossary.disabled,
    .pdf.disabled{
        color:rgba(lighten($base, 25%), 0.2);
    }

    .icon{
        padding:10px;
    }
    .pdf{
        position:relative;
        display:flex;
        align-items:center;
        i{
            font-size:2em;
        }
    }

    .glossary{
        position:relative;
        display:flex;
        align-items:center;

        i{
            font-size:2em;
        }

        .icon{
            border-right:solid 1px #FFFFFF;
            border-left:solid 1px #FFFFFF;
        }
    }
    
    .arrow{
        width:0;
        height:0;
        border-left:15px solid transparent;
        border-right:15px solid transparent;
        border-bottom:15px solid #FFFFFF;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
    }

    .disabled > .arrow{
        border-bottom:15px solid rgba(lighten($base, 25%), 0.2);
    }
}


#presentation > .glossary{
    background-color:rgba(darken($base, 15%), 0.9);
    position: fixed;
    z-index: 10;
    color:#FFFFFF;
    font-family:'FFLight';
    height: 100%;
    width: 50%;
    right: 0;
    padding: 30px;
    font-size: 1.4em;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;

    h1{
        border-bottom:solid 1px #FFFFFF;
    }

    .icon i{
        font-size:4em;
    }

    .title,
    .icon,
    .words{
        float:left;
    }

    .title{
        width:85%;
        text-align:right;

        h1{
            font-family:'FFBold';
            font-size:2em;
        }
    }

    .icon{
        width:15%;
        text-align:right;
    }

    .words{
        width:100%;
        overflow-y:auto;
        overflow-x:hidden;
        max-height:60%;
        margin-top:30px;
    }

    .close-action{
        font-size:2em;
    }
}

.team-modal{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: rgba(darken($base, 25%), 0.9);
    z-index: 100;
    right: 0;
    color: white;
    font-family: 'FFBold';
    transition:all 0.5s ease;

    &.concealed{
        right:-30%;
    }

    .header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:0 10px;
        margin-top:18%;
        background-color:rgba(255, 255, 255, 0.2);

        .title{
            border-bottom:solid 1px white;
            width:80%;
            text-align:right;
            h2{
                font-size:3em;
                padding:0;
                margin:0;
            }
        }

        .icon{
            font-size:5em;
        }
    }

    .body{
        padding: 10px;
        font-family: 'FFLight';
        height: 66%;
        overflow-y: auto;

        section{
            margin-bottom: 25px;

            h3{
                border-bottom:solid 1px white;
                margin:0 0 20px 0;
                padding:0;

            }

            p{
                margin:0;
                padding:5px 0;
                font-size:1.5em;
            }
        }
    }



    .close-button{
        position:absolute;
        font-size:4em;
        right:90%;
        top:10px;
    }
}


.navigation-buttons {
    position: absolute;
    display: flex;
    font-size: 3em;
    top: 30%;
    transition: all .5s ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    pointer-events: none;
  
    >* {
        pointer-events: all;
        padding: 9px 9px;
        background-color: rgba($base,0.5);

        i {
            color: #fff
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($base, 10%);
        }
    }
}

textarea{
    border:solid 2px $base;
    color:$base;
    font-family:'FFLight';
    outline:none;
    resize: none;
    min-width:200px;
    min-height:200px;
    font-size:1.8em;
}


.button{
    background-color:$base;
    border:solid 2px darken($base, 10%);
    padding:10px;
    font-size:2em;
    font-family:'FFBold';
    text-align:center;
    display: table;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    position:absolute;
    transition: all 0.5s ease;
    &:hover{
        color: $base;
        background-color:white;
        border-color:$base;
    }

    &.disabled{
        background-color:rgba(0, 0, 0, 0.4) !important;
    }
}

.block{
    height:25%;
}

.big-block{
    height:50%;
}

.darker-text{
    color:darken($base, 20%);
}

.hoverable{
    transition:all 0.2s ease;

    &:not(.disabled):hover{
        cursor: pointer;
        transform:scale(1.05);
    }

    &:not(.disabled):active{
        transition:none;
        transform:scale(1);
    }
    
}

a{
    color:inherit !important;
}



.swal-button{
    background-color:$base !important
}

iframe{
    border:none;
    outline:none;
}

@-webkit-keyframes shortRotation {
    0% {
            -webkit-transform: rotate(0deg);
    }
    50% {
            -webkit-transform: rotate(85deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}


.rotate-device{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 165, 137, 0.75);
    z-index: 99999;
    color: #FFFFFF;
    font-family: 'FFBold';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:not(.hidden){
        display:flex;
    }

    h1{
        padding:0 20px;
    }

    .phone{
        background-image: url(../img/rotate_device.png);
        width: 100%;
        height: 55%;
        background-position: 50% 50%;
        -webkit-animation: shortRotation 4.5s infinite linear;
        animation: shortRotation 4.5s infinite linear;
    
    }
}


.concepts-modal{
    position:absolute;
    z-index:9999;
    background-color:rgba(0, 0, 0, 0.8);
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display:none;
    h1{
        font-family: 'FFBold';
        font-size: 2.7em;
        color: #FFFFFF;
        padding: 20px;
        background-color: $base;
    }
    .star{
        background-image: url(../img/concept_star.svg);
        background-size: contain;
        width: 35px;
        height: 35px;
        float: left;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-right: 20px;
    }
    .close-button{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #FFFFFF;
        font-size: 4em;
        z-index:1;
    }
    .concepts{
        background-color: #FFFFFF;
        max-height: 78%;
        overflow-y: auto;
        .concept{
            
            color:$base;
            padding:20px;
            .concept-name{
                font-family: 'FFBold';
                font-size: 1.5em;
                padding-right: 20px;
            }
    
            .concept-description{
                font-family: 'FFLight';
                font-size: 1.6em;
            }
        }
    }
}

.swal2-modal{
    &.biggest {
        width: 1400px !important;
    }

    &.full-size {
        width:100% !important;
    }

    &.bigger{
        width:800px !important;
    }

    &.concepts{
        width:800px;
        h1{
            font-family:'FFBold';
            font-size:1.6em;
        }
        h2{
            font-family:'FFBold';
            font-size:1.2em;
        }
        .star{
            background-image: url(../img/concept_star.svg);
            background-size: contain;
            width: 35px;
            height: 35px;
            float: left;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin-right: 20px;
        }
        .concepts{
            background-color:#FFFFFF;
            .concept{
                
                color:$base;
                padding:10px 20px;
                .concept-name{
                    font-family: 'FFBold';
                    font-size: 1.2em;
                    padding-right: 20px;
                }
        
                .concept-description{
                    font-family: 'FFLight';
                    font-size: 1.2em;
                }
            }
        }
    }

    &.ova-themed{
        width:800px;
        padding:20px 40px;
        .swal2-title{
            font-family:'FFBold';
            font-size:3em;
            color:$base;
        }
        .swal2-content{
            font-family:'FFBold';
            font-size:2em;
        }
        button{
            background-color:$base !important;
            border-color:$base !important;
            color:white !important;
            font-size:3em !important;
            transition:all 0.5s ease;
            outline:none;
            &:hover{
                color: $base !important;
                background-color:white !important;
                border-color:$base !important;
            }
        }
        .button{
            font-size:1em;
            position:static;
        }
    
        
        video {
            width: 100%
        }
        
        .colored-text {
            color: $base;
        }
        
        .swal2-title {
            font-family: FFBold;
            font-size: 3em;
            color: $base;
        }
    
        h1{
            color:$base;
        }
    }

    &.video{
        padding:0px;
        border:0px;
        width:1400px !important;
        background-color:transparent;
        .swal2-footer{
            display:none;
        }

        .swal2-header{
            height:0;

            .swal2-close{
                font-size: 5em !important;
                display: flex;
                background-color: rgba(0, 0, 0, 0.5) !important;
                border-radius: 100%;
                right: 10px;
                top: 10px;

                &:hover{
                    color:#000000 !important;
                    background-color:rgba(255, 255, 255, 1) !important;
                }
            }

            .swal2-title{
                display:none;
            }
        }

        iframe{
            height:787px;
        }

        .swal2-content{
            background-color:transparent;
        }
    }
}

.modal {
    display: block;

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .close-button {
        position: absolute;
        cursor: pointer;
        font-size: 4em;
        z-index: 2;
        color: #fff;
        right: 20px;
        top: 20px
    }
}

@-webkit-keyframes clickMe {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}

.is-dragging{
    pointer-events: none;
}

[data-ani-class="bounceIn"]:not(.bounceIn),
[data-ani-class="zoomIn"]:not(.zoomIn),
[data-ani-class="bounce"]:not(.bounce),
[data-ani-class="fadeInRight"]:not(.fadeInRight),
[data-ani-class="fadeInLeft"]:not(.fadeInLeft),
[data-ani-class="fadeInDown"]:not(.fadeInDown),
[data-ani-class="fadeInUp"]:not(.fadeInUp){
    opacity:0;
}

.cloud{
    -webkit-animation-name: cloudMovement;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-timing-function: linear;
    animation-name: cloudMovement;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}


@-webkit-keyframes cloudMovement {
    0% {
        left: -50%;
    }
    100% {
        left: 100%;
    }
}

.animations-disabled{
    animation: none !important;
    -webkit-animation: none !important;
}

#modal-container{
    top: 10%;
    position: absolute;
    width: 100%;
    height: 85%;

    >.swal2-container{
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 99;
    }
}